
.pillbox {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.pillbox input,
.pillbox input:focus {
  border: none;
  outline: none;
}
