<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='/build.css' rel='stylesheet'>
</head>
<body>

<div id='app' class='yue'></div>

<div id='source-popup' data-visible='visible'></div>
<div id='source-container'></div>
<div id='palette'></div>

{{{preload}}}
<script src='/build.js'></script>
<script>require('boot');</script>
</body>
</html>
